//colors:
$black: rgb(22,22,22);
$yellow: rgb(241,201,23);
$grey: rgba(176, 176, 176, 0.9);
$white: rgb(255,255,255);

//@mixin fontProp($fs, $fw, $ls, $c){
//  font-size: $fs;
//  font-weight: $fw;
//  letter-spacing: $ls;
//  color: $c;
//  text-align: center;
//}
@mixin button($c, $b, $bgrd){
  color: $c;
  border: $b;
  background: $bgrd;
}
.contact {
  background-color: black;
  height: 100%;
  //max-height: 100vh;

  .contact__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 85px;

    .googleMapsCode{
      //margin-top: 90px;
    }

    .contact__form__container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 10%;
      padding-right: 25%;
      padding-top: 15%;
      height: max-content;


      .contact__title {
        margin-bottom: 50px;

        h2 {
          font-family: 'Raleway', sans-serif;
          color: white;
          text-align: center;
          font-size: 26px;
          text-transform: none;
          letter-spacing: 1px;
        }

        .bigger__letter {
          font-size: 35px;
        }
      }
      .form__container {
        width: 100%;

        .form__input_container {
          margin-bottom: 45px;

          label {
            font-family: 'Raleway', sans-serif;
            color: white;
            font-size: 14px;
            text-transform: none;
            letter-spacing: 1px;
            display: table;
            border-collapse: separate;
            margin-bottom: 10px;
          }

          input, textarea {
            border: none;
            display: table;
            border-collapse: separate;
            width: 100%;
            background-color: black;
            border-bottom: 1px solid rgba(169, 169, 169, 0.4);
            font-family: 'Raleway', sans-serif;
            color: white;
            font-size: 16px;
          }

          textarea {
            display: inline-block;
            min-height: 50px;
            max-height: 120px;
            max-width: 625px;
          }
        }

        .form__container > form > div:nth-child(3) {
          margin-bottom: 10px;
        }

        .form__container > form > div:nth-child(2) {
          margin-bottom: 25px;
        }

        button {
          cursor: pointer;
          border: none;
          background-color: #ffc36b;
          font-family: 'Raleway', sans-serif;
          color: black;
          font-size: 16px;
          width: 95px;
          height: 60px;
          &:hover{
            @include button($black, 1px solid $grey, $grey);
          }
        }
      }
    }
  }
}
@media(max-width: 798px) {

  .contact {
    .contact__container {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}